h1, h3 {
         color: blue;
         font-size: 28pt;
      }
body {
          background-color:#A5FFE1;
}

p {
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;    
    padding: 20px;
    text-align: center;
    background-color: #80ced6;
}





