h1, h3 {
         color: blue;
         font-size: 28pt;
         background-color: #ffff00;
         text-align: center;
         text-shadow: 3px 2px green;
      }

p {
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;    
    padding: 20px;
    text-align: center;
    background-color: #80ced6;
}





