h1, h3 {
         color: blue;
         font-size: 28pt;
      }
body {
          background-color:#A5FFE1;
}

<IMG STYLE="position:absolute; TOP:35px; LEFT:170px; WIDTH:50px; HEIGHT:50px" 
SRC="realrobot.png">




